{% extends "index.html" %}
{% load static %}
{%block slider%} 

    <!-- Demo styles -->
    <style>
      html,
      body {
        position: relative;
        height: 100%;
        margin-bottom:20px;
      }

      body {
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 600px;
      }

      .swiper-slide {

        text-align: center;
        font-size: 18px;
        z-index: 1;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        background: round;
    background-clip: border-box;
    background-blend-mode: multiply;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .Text-of-slider{

        z-index: 99;
    background: black;
    padding: 1%;
    background-blend-mode: multiply;
    border: ridge;
    /* mix-blend-mode: multiply; */
    color: white;

      }
    </style>

    <!-- Swiper -->
    <div style="margin-bottom: 10px;" class="swiper mySwiper">
      <div class="swiper-wrapper">{% for slider in sliders %}

        <div style="background-image: url({{slider.image.url}});background-position: center;
        background-repeat: no-repeat;" class="swiper-slide">

        </div>{% endfor %}

      </div>
      <div style="color: rgb(82, 80, 80);" class="swiper-button-next"></div>
      <div style="color: rgb(82, 81, 81);" class="swiper-button-prev"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  
<style>
    .Dve{
        background: linear-gradient( to right, #583232, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
</style>

 {% for home in homes %}

 {{home.mqs|safe}}

 {% endfor %}  
 
 <div class="container">  
   <center><h1 style="font-family: Play;">Our services</h1></center> <div class="row">
     
  {% for service in services %}

  <div style="margin-bottom: 3px;" class="col-md-4">
  <div class="card h-100">
    {% if service.thumbnail %}
      
    <img src="{{service.thumbnail.url}}" class="card-img-top" alt="...">
    {% else %}
    {% endif %}
  
    <div class="card-body">
      <h5 class="card-title">{{service.Type}}</h5>
     <a href="{% url 'service'%}"> <button class="btn btn-primary">View More</button></a>
    </div>

  </div></div>{% endfor %}
 <center> <h1 style="font-family: Play;">
    Our Team
  </h1></center>
  
  <div class="row">    
    <h6 style="text-align:center;"> Notre équipe Volkswagen Professionels met tout en oeuvre pour être présents pendant tout le parcours d'achat et au delà, avec pour objectif de comprendre et répondre au mieux à vos besoins et pour mot d'ordre la satifaction complète de ses clients.</h6>

            {% for team in teams %}

    <div class="col-md-4">
    <div class="card h-100">
      <img src="{{team.thumbnail.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{team.Nom}}</h5>
        <small><p>{{team.Fonctionnement}}</p></small>
      </div>

    </div>
  </div>{%endfor%}
  </div>
  </div></div> 
 {% endblock slider %}
