{% extends 'index.html' %}{% block content %}{% load static %}

<style>
    #product {
        border-bottom: solid black;
        border-bottom-width: .5px;
    }
    #gallery{
        text-decoration: none;
text-align: center;    }
    .gallery:hover{
        color: #0d6efd;
    }
    .gallery{
        text-decoration: none;
        color: rgba(0,0,0,.55);
    }
    @media screen and (min-width:769px) {
        #product-card {
            height: 340.02px;
        }
    }
    
    @media screen and (max-width:991px) {
        #product {
            border-bottom: none;
        }
    }
</style>

<div style="padding-top:50px;" class="container" id="productsgallery">
    <div class="row">
        <div class="col-md-3">

            <div style="font-family: Audiowide;" class="card">
                <div style="background: white;text-align: center;font-family: 'Bangers';" class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a style="font-family: 'Bangers';" id="gallery" href="{% url 'products' %}">All</a>
                    </li>
                    {% for type in types  %}
                      
                    <li class="list-group-item">
                        <a style="font-family: 'Bangers';" class="gallery" href="{% url 'products' %}?type={{type.name}}">
                                {{type.name}}
                            </a>
                    </li>
                    {% endfor %}



                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
    {% for product in products  %}
    <div class="col-md-4">

    <div class="card h-100">
      <img src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
       <a href="{% url 'product' product.id %}"> <button class="btn btn-primary">View details</button></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Published at: {{product.posted}}</small>
      </div>
    </div>
  </div>
  {% empty %}
                <h3 style="font-size:30px ;">Cette catégorie n'est pas valable pour le moment</h3>{% endfor %}
 
     </div>
{% endblock %}