{% extends "index.html" %}
{% load static %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks  %}
      <tr>
        <th scope="row">{{task.id}}</th>
        <td>{{task.Last_name}}</td>
        <td>{{task.First_name}}</td>
        <td>{{ task.email }}</td>
       <td><a href="{% url 'task' task.id %}"> <button class="btn btn-success">View details</button></a></td>
      </tr>
      {% endfor %}
        
    
    </tbody>
  </table>
{% endblock content %}